img{
    width:300px;
    height:auto;
    display: block;
    margin: 0 auto;
}

.harry{
    align-items: center;
    display: flex;
    gap: 10px;
    max-width: 1000px;
    margin: 40px auto;
    padding:20px;
}

body{
    margin:0px;
    padding:0px;
    background-color:black;
    background-attachment: fixed;
    background-position: center;
    background-size:cover
}

h1{
    color:skyblue;
    text-align: center;
    font-style:italic;
    font-family: 'Yu Mincho', serif;
}

h2{
    color:white;
}

h3{
    color:yellow;
    font-family: 'Yu Mincho' , serif;
}

p{
    color:white;
}

li{
    color:white
}

hr{
    margin-right: 20px;
}
