img{
    width:300px;
    height:auto;
    display: block;
    margin: 0 auto;
}

body{
    margin:0px;
    padding:0px;
    background-color:black;
    background-image: url("tuki.(15).jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:cover
}

h1{
    color:skyblue;
    text-align: center;
    font-style:italic;
}

h2{
    color:white;
}

h3{
    color:white;
}

p{
    color:white;
}

li{
    color:white
}

hr{
    margin-right: 20px;
}
