.harry img{
    width: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.konan img{
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.taitanic img{
    width: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    margin-left: 20px;
    float: right;    
}

.eiga{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;

}
