h1{
    color:rgba(214, 105, 16, 0.726);
    text-align:center;
    text-decoration:underline;
    font-family:serif
}
img{
    width: 300px;
    height: auto;
}
h2{
    color:rgb(49, 197, 19);
    font-family:serif
}


