h1{
    color:rgba(214, 105, 16, 0.726);
    text-align:center;
    text-decoration:underline;
    font-family:serif;
    text-shadow: 3px 3px 3px #9b4747;
}
img{
    width: 300px;
    height: auto;
}
h2{
    color:rgb(44, 15, 211);
    font-family:serif;
    text-shadow: 2px 2px 2px #dee4f0;
}
body{
    background-color: rgb(19, 13, 79);
}
p{
    color: aqua;
    font-family:serif;
}
ul{
    color: aqua;
    font-family: serif;
}


